@import url('https://fonts.googleapis.com/css?family=Felipa');
html{
    background-color: darkseagreen;
    background-image: url("../imagenes/borde.png");
    background-repeat: repeat-y;
}
body{

    font-family: 'Felipa', cursive;

    display:inline-block;
    margin-left:100px;
    background-size:cover
}

#textos{
    display:inline-block;
    margin-left: 40px;
}

#titulo{
    text-align:center;
}

#cara {
    float: right;
    margin-right: 100px;
}

span{
    font-weight: bold;
}

#estudios{
    display:block;
}

footer{
    display:inline-block;
    bottom: 2px;
}